<footer class="footer-basic-centered">

    <p class="footer-company-motto">{{ 'footer.joinus'|trans()}}</p>

    <p class="footer-links">
        <a href="{{ path('homepage')}}">{{ 'footer.about'|trans()}}</a>
        ·
        <a href="{{ path('homepage')}}">{{ 'footer.faq'|trans()}}</a>
        ·
        <a href="{{ path('homepage')}}">{{ 'footer.contact'|trans()}}</a>
    </p>

    <p class="footer-company-name">MIAGE Sorbonne M1 &copy; 2015</p>

</footer>
