{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{'home.title'|trans}}</h1>
    <div class="flag">
        <a href="{{english_flag}}">
            {% image '%kernel.root_dir%/Resources/public_shared/images/EN.jpg' %}
            <img src="{{ asset_url }}" alt="English flag" width="40"/>
            {% endimage %}
        </a>
        <a href="{{french_flag}}">
            {% image '%kernel.root_dir%/Resources/public_shared/images/FR.jpg' %}
            <img src="{{ asset_url }}" alt="French flag" width="40"/>
            {% endimage %}
        </a>
    </div>

    <p>
L'application X est l'outil idéal pour visualiser votre système d'information. Elle vous offre les fonctionnalités suivantes :
<p>▸ gestion de cartographies (gestion d''éléments et de liens entre éléments)</p>
<p>▸ gestion de versions de cartographies</p>
<p>▸ gestion de type d'éléments et d'éléments</p>
<p>▸ gestion de droits des utilisateurs</p>
</p>



{% endblock %}
