{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{'home.title'|trans}}</h1>
    <div class="pull-right clearfix">
        {{'home.language'|trans}}
        <a href="{{english_flag}}">
            {% image '%kernel.root_dir%/Resources/public_shared/images/EN.jpg' %}
            <img src="{{ asset_url }}" alt="English flag" width="40"/>
            {% endimage %}
        </a>
        <a href="{{french_flag}}">
            {% image '%kernel.root_dir%/Resources/public_shared/images/FR.jpg' %}
            <img src="{{ asset_url }}" alt="French flag" width="40"/>
            {% endimage %}
        </a>
    </div>
    <div class="clearfix"></div>
    <div class="content">

{{'home.message1'|trans |raw}}
<br>
<p>
 <a>
         {% image '%kernel.root_dir%/Resources/public_shared/images/home_image.jpg' %}
            <img src="{{ asset_url }}" alt="home presentation" />
         {% endimage %}
 </a>
</p>
<br>

<p><i class="fa fa-video-camera"></i>{{'home.message2'|trans|raw}}</p>
<p><i class="fa fa-users"></i>{{'home.message3'|trans}}</p>
<p><i class="fa fa-folder-open"></i>{{'home.message4'|trans}}</p>
<p><i class="fa fa-github"></i>{{'home.message5'|trans}}</p>




 </div>



{% endblock %}
