{% extends "KartographerzCartographyBundle::layout.html.twig" %}

{% block title %}{{ 'title.addElement'|trans }}{% endblock %}

{% block body %}

    <h3>{{ 'element.add'|trans }}</h3>
    {% if element is defined %} 
        <p class="alert alert-success">{{ 'element.addSuccess'|trans }}</p>
    {% endif %}
    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.name, 'form.name'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.name) }}

            <div class="col-sm-4">
                {# Génération de l'input. #}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.typeElement, 'form.typeElement'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.typeElement, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">


            <div class="col-sm-4">
                {# Génération de l'input. #}
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}, 'label': 'form.submit'}) }}
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}