{# empty Twig template #}


<html>
    <head>
        <title>Create a element type </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>


        <h3>Create a Element type</h3>
        
        {% if typeElement is defined  %}
            <p class="alert alert-success">Vous avez bien ajouté un type element</p>
        {% endif %}

        <div class="well">

            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            {{ form_errors(form) }}
            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.label, "Name", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.label) }}

                <div class="col-sm-4">
                    {# Génération de l'input. #}
                    {{ form_widget(form.label, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.image, "Image", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.image) }}

                <div class="col-sm-4">
                    {# Génération de l'input. #}
                    {{ form_widget(form.image) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4">
                    {# Génération de l'input. #}
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </body>
</html>