{% extends "KartographerzCartographyBundle::layout.html.twig" %}

{% block title %}{{ 'title.addElementType'|trans }}{% endblock %}

{% block body %}

    <h3>{{ 'element_type.add'|trans }}</h3>

    {% if typeElement is defined  %}
        <p class="alert alert-success"></p>
    {% endif %}

    <div class="well">

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {{ form_errors(form) }}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.label, 'form.name'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.label) }}

            <div class="col-sm-4">
                {# Génération de l'input. #}
                {{ form_widget(form.label, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.image, 'form.image'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.image) }}

            <div class="col-sm-4">
                {# Génération de l'input. #}
                {{ form_widget(form.image) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4">
                {# Génération de l'input. #}
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}, 'label': 'form.submit'}) }}
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
</body>
</html>
{% endblock %}