{% extends "KartographerzCartographyBundle::layout.html.twig" %}

{% block title %}{{'title.list' | trans}}{% endblock %}

{% block body %}
    <h1>{{'cartography.list' | trans}}</h1>
    {% if is_granted('ROLE_USER') %}
    {% endif %}
    {% if is_granted('ROLE_MODELISATEUR') %}
        <li><a href="{{ path('kartographerz_cartography_add') }}">{{'cartography.add' | trans}}</a></li>
        {% endif %}
        {% if is_granted('ROLE_MODELISATEUR') %}
        <li><a href="{{ path('kartographerz_cartography_addElement') }}">{{'element.add' | trans}}</a></li>
        {% endif %}
    {% endblock %}
