{% extends "KartographerzCartographyBundle::layout.html.twig" %}

{% block title %}{{parent()}}{{'cartography.list' | trans}}{% endblock %}

{% block body %}
    <h1>{{'cartography.list'|trans}}</h1>

    {% if is_granted('ROLE_MODELISATEUR') %}
        <button type="button" class="btn btn-default"style="margin-bottom: 10px;" onclick='location.href = "{{ path('kartographerz_cartography_add')}}"'>{{'cartography.add' | trans}}</button>

        <button type="button" style="margin-bottom: 10px;" class="btn btn-default" onclick='location.href = "{{ path('kartographerz_cartography_addElement')}}"'>{{'element.add' | trans}}</button>
    {% endif %}

    <table id="listCarto" class="table table-striped table-bordered" cellspacing="0" width="100%" >
        <thead>
            <tr>
                <th>{{'cartography.tablelist.id'|trans}}</th>
                <th>{{'cartography.tablelist.author'|trans}}</th>
                <th>{{'cartography.tablelist.name'|trans}}</th>
                <th>{{'cartography.tablelist.date'|trans}}</th>
                <th>{{'cartography.tablelist.visibility'|trans}}</th>
                <th>{{'cartography.tablelist.view'|trans}}</th>
                <th>{{'cartography.tablelist.delete'|trans}}</th>
            </tr>
        </thead>
    </table>
    {% if not is_granted('ROLE_ADMIN') %}
        <button type="button" id="seePrivateCarto" style="margin-bottom: 10px;" class="btn btn-primary">{{'cartography.allVisibility' | trans}}</button>
    {% endif %}
    <script>
        $(function () {
            $('#seePrivateCarto').click(function () {
                $.post("{{ path("kartographerz_cartography_seePrivateCarto") }}", function (data) {
                });
                alert("{{'cartography.allVisibilityAlert' | trans}}");
            });

            $('#listCarto').DataTable({
                "sAjaxSource": "{{ path("kartographerz_cartography_cartographyListDataTable") }}",
                "aoColumns": [
                    {"mData": "id"},
                    {"mData": "usernameAuthor"},
                    {"mData": "name"},
                    {"mData": "date"},
                    {"mData": "typeVisibility"},
                    {"mData": function (row) {
                            if ("administration" === "{{ app.user.groups[0] }}" || row.typeVisibility === "Public" || isAuthor("{{app.user.username}}", row.usernameAuthor))
                                return "<button  class='btn btn-default' onclick='location.href=\"" + Routing.generate("kartographerz_cartography_view", {"id": row.id, "_locale": '{{app.request.locale}}'}) + "\"'>{{'cartography.button.see'|trans}}</a>";
                            else
                                return "";
                        }
                    },
                    {"mData": function (row) {
                            return "<button  class='btn btn-danger' onclick='deleteCart(" + row.id + ")' >{{'cartography.button.delete'|trans}}</a>";
                        }
                    }]
            });


        });

        function deleteCart(idCart) {
            $.post("{{ path("kartographerz_cartography_delete") }}",
                    {id: idCart},
            function (data) {
                $("#listCarto").DataTable().ajax.reload();
            });
        }

        function isAuthor(username, cartoAuthor) {
            return username === cartoAuthor;
        }
    </script>

{% endblock %}


