{% extends "KartographerzCartographyBundle::layout.html.twig" %}

{% block title %}{{'title.view'|trans}}{% endblock %}

{% block body %}
    {% include "KartographerzCartographyBundle::Cartography/addElementToACartographyBox.html.twig" %}
    {% include "KartographerzCartographyBundle::Cartography/LinksList.html.twig" %}

    <form role="form" id="pageForm" action="{{ path('kartographerz_cartography_updateVersionId') }}" method="POST" style="display:none">
        <input id="currentCarographyVersion" name ="currentCarographyVersion" type="text" value="" />
        <input id="currentCarographyId" name ="currentCarographyId" type="text" value={{id}} />
        <input type="submit" value="Ok" />
    </form>

    <div id="getAllCartographyVersion" style="display:none">
        {{ render(controller('KartographerzCartographyBundle:Cartography:versionList')) }}
    </div>


    <h1>{{'cartography.show'|trans}} {{id}}</h1>
    <p>
        {# On affiche tous les messages flash dont le nom est « info » #}
        {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p> 
    {% endfor %}
</p>

<canvas id="viewport" width="900" height="550" class='modal-content'></canvas>
<p>
    <button class="btn btn-default" data-toggle="modal" data-target="#addElementToACartographyBox">{{'element.manage'|trans}}</button>
</p>
<p>
    <a href="{{ path('kartographerz_cartography_addElement') }}" class="btn btn-default">{{'element.add'|trans}}</a>
</p>

<p>
    {{'cartography.version'|trans}}
    <select id="cartographyVersion"  onmousedown="if (this.options.length > 8) {
                this.size = 8;
            }"  onchange='this.size = 0;' onblur="this.size = 0;" >
    </select>
</p>

<script>
    $(function () {
        var idCarto = "{{id}}";
        var allCartographyVersion = jQuery.parseJSON($("#getAllCartographyVersion").html());

        var cptVersion = 0;
        $.each(allCartographyVersion, function (i, item) {
            if (item.cartography_id == idCarto) {
                cptVersion = cptVersion + 1;

                if (item.current_id != 1) {
                    $('#cartographyVersion').append($('<option>', {
                        value: item.id,
                        text: cptVersion + "  [" + item.date + "]"
                    }));
                }
                else {
                    $('#cartographyVersion').append($('<option>', {
                        value: item.id,
                        text: cptVersion + "  [" + item.date + "]"
                    }).attr("selected", "selected"));
                }

            }
        });

        $("#cartographyVersion").change(function () {
            var data = $(this).val();
            $("#currentCarographyVersion").val(data);
            $("#pageForm").submit();
        });

    });



</script>
{% endblock %}
